/* Impact */

#impact {
    width: 100%;
    height: 40em;
    background: url("images/impactBackground.jpg");
    background-attachment: fixed;
    background-size: cover;
    z-index: 0;
}

/* Two Column */

#twoColumn {
    width: 80vw;
    margin: -20em auto;
    display: flex;
}

#twoColumn #leftText {
    height: fit-content;
    padding: 5em 0em;
    flex: 5;
    position: relative;
}

#twoColumn #leftText h1 {
    font-size: 6em;
    text-transform: lowercase;
}

#twoColumn #rightButton {
    flex: 3;
    position: relative;
}

#twoColumn #rightButton button {
    position: absolute;
    top: 40%;
    bottom: 60%;
    right: 50%;
    left: 50%;
    width: 40%;
    height: 2em;
    background-color: #1BD9C4;
    border-radius: 0.5em;
    font-size: 2.2em;
    color: white;
    font-weight: 300;
}

hr {
    border-width: 0.23em;
    border-color: #1BD9C4;
    width: 45%;
    position: absolute;
    left: 0%;
    right: 100%;
    top: 80%;
    bottom: 20%;
}

/* Headline */

#headline {
    width: 80vw;
    margin: 16em auto 0em auto;
}

#headline p {
    font-size: 2em;
}

#headline .imagesBox {
    display: flex;
}

#headline .imagesBox img {
    padding: 2.5em;
    flex: 1;
    height: auto;
    width: 50%;
}

/* Blogs */

.blogs {
    width: 80vw;
    margin: 2em auto;
    display: flex;
}

.blogs .individualBlog {
    background-color: white;
    flex: 1;
    margin: 1em 1em;
}

.blogs .individualBlog img {
    width: 100%;
    height: auto;
}

.blogs .individualBlog h1 {
    font-size: 1.8em;
}

.blogs .individualBlog p {
    font-size: 1em;
}

/* Difference */

#difference {
    width: 80vw;
    margin: 2em auto;
}

#difference .differenceCards {
    background-color: white;
    margin: 1.5em 0;
    border: solid;
    border-width: 0.05em;
    border-color: #d6d6d6;
    display: flex;
}

#difference .differenceCards .imgColumn {
    flex: 3;
    display: inline-block;
}

#difference .differenceCards .imgColumn img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

#difference .differenceCards .textColumn {
    flex: 7;
    margin: auto 2em;
    padding-right: 10em;
}

#difference .differenceCards .textColumn h1 {
    font-size: 2em;
}

#difference .differenceCards .textColumn p {
    font-size: 1em;
}

/* Services */

#coreServicesHeading {
    width: 80vw;
    margin: 2em auto -1em auto;
    color: #094074;
    font-size: 2em;
}

#coreServices {
    width: 80vw;
    margin: 2em auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#coreServices .coreServicesContent {
    padding: 1em;
    margin: 0.5em 0em;
}

#coreServices .coreServicesContent h3 {
    color: #1BD9C4;
}

/* Portfolio */

#portfolio {
    background-color: #094074;
    width: 100%;
    padding: 3em 0em;
    color: white;
    align-items: center;
}

#portfolio h4 {
    width: 80vw;
    margin: auto;
    color: white;
    margin-bottom: 5px;
}

#portfolio h1 {
    font-size: 3em;
    width: 80vw;
    margin: auto;
    color: white;
    margin-bottom: 0.5em;
}

#portfolio div {
    width: 80vw;
    margin: auto;
}

/* Contact */

#contactUs{
    background-color: #1C77C3;
    padding: 3em;
}

#contactUs h4{
    color: white;
    width: 80vw;
    margin: auto;
    font-size: 1em;
    text-transform: capitalize;
}

#contactUs h1{
    color: white;
    width: 80vw;
    margin: 0.5em auto;
    font-size: 3em;
    text-transform: capitalize;
}

#contactUs form{
    width: 80vw;
    margin: auto;
}

#contactUs form input{
    border: none;
    margin: 1em 0em;
    color: white;
    width: 80vw;
    font-size: 1em;
    background: transparent;
    border-bottom: solid;
    border-color: white;
    border-width: thin;
}

#contactUs form #detail{
    width: 80vw;
    margin: auto;
    border: none;
    font-size: 1em;
    color: white;
    background: transparent;
    border-bottom: solid;
    border-color: white;
    border-width: thin;
}

#contactUs form button{
    width: 80vw;
    margin: 1em auto;
    border: solid;
    padding: 0.5em;
    font-size: 1.5em;
    background: transparent;
    border-color: white;
    border-width: thin;
    text-transform: uppercase;
    color: white;
}

@media only screen and (max-width: 1600px){
    #twoColumn #rightButton button{
        font-size: 1.8em;
        height: 3em;
    }
}

@media only screen and (max-width: 1100px){
    #twoColumn #leftText h1 {
        font-size: 4em;
        text-transform: lowercase;
    }
}

@media only screen and (max-width: 1000px){
    #twoColumn{
        flex-wrap: wrap;
    }

    #twoColumn #rightButton{
        flex: 5;
    }

    .blogs .individualBlog {
        margin: 0.5em 0.5em;
    }
}

@media only screen and (max-width :850px){
    #twoColumn #leftText h1{
        font-size: 3em;
    }

    #twoColumn #rightButton button{
        font-size: 1.2em;
        height: 2.5em;
    }

    #twoColumn #rightButton{
        flex: 4;
    }

    #headline{
        margin-top: 18em;
    }

    #headline p{
        font-size: 2em;
    }

    #headline .imagesBox img {
        padding: 1.5em;
    }

    .blogs .individualBlog {
        margin: 0.4em;
    }

    #difference .differenceCards .imgColumn {
        flex: 8;
    }

    #difference .differenceCards .textColumn {
        padding-right: 4em;
    }

    #coreServices {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (max-width: 600px){
    body{
        font-size: 11px;
    }

    #headline .imagesBox img {
        padding: 1em;
    }

    .blogs {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px){

    .blogs .individualBlog{
        padding: 0em;
        margin: 0.5em auto;
    }

    .blogs .individualBlog h1 {
        font-size: 1.3em;
    }
    
    .blogs .individualBlog p {
        font-size: 0.8em;
    }

    .blogs .individualBlog img{
        height: 40em;
    }

    #coreServices {
        grid-template-columns: 1fr;
    }

}

@media only screen and (max-width: 450px){
    #twoColumn #leftText h1{
        font-size: 2.5em;
    }

    #twoColumn #rightButton button{
        font-size: 1em;
        height: 3em;
    }

    #twoColumn #rightButton{
        flex: 3;
    }

    #twoColumn #rightButton button{
        width: 50%;
    }
    
    #difference .differenceCards .textColumn {
        padding-right: 0em;
    }

}