body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #F8F8F8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.overlay{ 
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 1));
    z-index: 1;
}

.white{
    color: white;
}

textarea,
input[type=text] {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}