header{
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 2;
}

header img{
    height: 5em;
    width: 8em;
    padding: 1em;
    float: left;
}

header ul{
    list-style-type: none;
}

header li{
    float: right;
    margin: auto;
    padding: 1.25em 1em;
    font-size: 1.2em;
}